<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <title>{{ title }}{{ title | if: " - ", "" }}Devolutions Documentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">

    {%- include './partials/gtm.html' -%}

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css"/>
    <link rel="stylesheet" href="https://cdnweb.devolutions.net/web/common/scripts/live-chat/live-chat.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    {%- include './partials/gtm-no-script.html' -%}

    {%- include 'partials/header.liquid' -%}
    {%- include 'partials/sub-header.liquid' -%}

    {{- content -}}

    <devolutions-search opened="false" selected-category="docs" locale="{{ lang }}"></devolutions-search>

    <script src="https://cdnweb.devolutions.net/web/js/libs/devo-search/1.0.7/index.js" type="module"></script>
    <script src="https://cdnweb.devolutions.net/web/common/scripts/live-chat/live-chat.js" defer></script>
    <script src="/scripts/devolutions.js" type="module" defer></script>
  </body>
</html>