<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;j.setAttributeNode(d.createAttribute('data-ot-ignore'));
      j.setAttribute('class','optanon-category-C0001');f.parentNode.insertBefore(j, f);
      })(window,document,'script','dataLayer','GTM-K2QBJ5');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}{{ title | if: " - ", "" }}Devolutions Documentation</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css"/>
    <link rel="stylesheet" href="https://cdnweb.devolutions.net/web/common/scripts/live-chat/live-chat.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2QBJ5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    {%- include 'partials/header.liquid' -%}
    {%- include 'partials/sub-header.liquid' -%}

    {{- content -}}

    <devolutions-search opened="false" selected-category="docs" locale="{{ lang }}"></devolutions-search>

    <script src="https://cdnweb.devolutions.net/web/js/libs/devo-search/1.0.7/index.js" type="module"></script>
    <script src="https://cdnweb.devolutions.net/web/common/scripts/live-chat/live-chat.js" defer></script>
    <script src="/scripts/devolutions.js" type="module" defer></script>
  </body>
</html>